body {
    background-color: lightblue;


}

.h1 {
    text-align: center;
    color: black;
}

.design {
    text-align: center;
    color: black;
    border: 2px solid black;
    padding-top: 50px;
    padding-bottom: 50px;
}

.lbl {
   color: black;
   text-size-adjust: 100%;

}

.list {
    padding-top: 20px;
    padding-bottom: 20px;

}

.btn {
    background-color: rgb(78, 77, 77);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    justify-content: space-between;
    

}