body {
    background-color: rgb(206, 212, 213);
    color: white;



}

.h1 {
    background-color: rgb(78, 77, 77);
    text-align: center;
    color: white;
    padding: 25px;
    margin: 25px;
    border-radius: 20px;

}

.main-container {
    text-align: center;
    color: black;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin: 25px;
}

.label1 {
     color: black;
    text-size-adjust: 100%;
}


.button1 {
    padding: 10px ;
    cursor: pointer;
    border-radius: 8px;

}
.btn1{
    background-color: rgb(78, 77, 77);
    color: white;
    border-radius: 8px;
    

}
.example{
   color:rgb(78, 77, 77);
   
}



.button2{
    padding: 10px ;
    cursor: pointer;
    border-radius: 8px;

}
.btn2{
    background-color: rgb(78, 77, 77);
    color: white;
    border-radius: 8px;
    

}